<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7d9b">  <td>18/07/03 19:18:21</td>   <td>0</td> <td title="&gt;&gt;JiraAppTest.beforeMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@5c86a017]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@325040804</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/07/03 19:18:21</td>   <td>273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JiraAppTest.JiraAppLogin()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@5c86a017]">JiraAppLogin</td> 
  <td>main@325040804</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/07/03 19:18:24</td>   <td>3693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JiraAppTest.JiraApplogout()[pri:1, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@5c86a017]">JiraApplogout</td> 
  <td>main@325040804</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/07/03 19:18:35</td>   <td>14218</td> <td title="&lt;&lt;JiraAppTest.afterMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@5c86a017]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@325040804</td>   <td></td> </tr>
</table>
